*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body{
  padding: 0px;
  margin: 0px;
  height: 100%;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  font-family: sans-serif;
}

.page{
  min-height: 100vh;
  max-height: 100%;
  padding-top: 3%;
  overflow: scroll;
  padding-left:20%;
  padding-right:20%;
}

#menu{
  top: 0;
  position: fixed;
  background-color:#6C9AAD;
  width: 100%;
  padding-top: 5px;
  padding-bottomg: 5px;
}

.listNav{
  display: inline;
}

.navItem{
  padding: 5px;
  font-weight: 700;
  color: black;
  font-size: 25px;
  margin-right: 10px;
  margin-left: 20px;
  position: relative;
}

a {
  text-decoration: none;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

a:hover {
  color: white;
}


#backTop{
  background-color: rgba(0, 0, 0, 0.5);
  border-left: 3px solid rgba(0, 0, 0, 0.5);
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
  border-radius: 40%;
  bottom: 5%;
  color: #fcefff;
  font-size: 60px;
  font-weight: 800;
  position: fixed;
  right: 5%;
  text-decoration: none;
  color: white;
  text-align:center;
}

pre{
  background-color: rgba(0,0,0,0.3);
  border-radius: 20px;
  border-left: solid rgba(0,0,0,.5);
  border-bottom: solid rgba(0,0,0,.5);
  border-width: 3px;
  margin-left: 95px;
  padding-left: 5%;
  max-width: 90%;
  text-align: left;
  white-space: pre-wrap;
  line-height: 25px;
}

h1{
  text-align: center;
  text-decoration: underline;
}

h2{
  line-height: 65px;
  text-align: center;
  font-size: 32px;
  background-color: rgba(0,0,0, .6);
  color:#e8dedc;
  border-radius: 20px;
}

p{
  text-align: justify;
  text-indent: 50px;
  line-height: 25px;
}

h5, ol, ul{
  text-align: left;
  line-height: 25px;
}

h5{
  text-decoration: underline;
  font-size: 18px;
}

#homePage{
	background-image: url('cat1.jpg');
	background-size: cover;
}
#installPage{
	background-color:#ADE5D9;
}
#clientPage{
	background-color: #D3FAEC;
}
#serverPage{
	background-color: #FEFEE7;
}
#gitPage{
	background-color: #ADE5D9;
}
#hostPage{
	background-color: #D3FAEC;
}
#lastPage{
	background-image: url('cat2.jpg');
	background-size: cover;
}